/*content*/
div#main div#content div.row_1 {width:100%}
div#main div#content div.row_1 div.col_1{width:75%;}
div#main div#content div.row_1 div.col_2{width:25%;}



div#main div#content div.row_2 div.col_1 {width:75%;}
div#main div#content div.row_2 div.col_1 .textRow {}
div#main div#content div.row_2 div.col_1 .textRow .duracionCol{}
div#main div#content div.row_2 div.col_1 .textRow .duracionCol .duracion{color:#fff; text-shadow: -1px 0 #444, 0 1px #444, 1px 0 #444, 0 -1px #444; background: no-repeat top center url(../img/comun/bg-dias.png);}
div#main div#content div.row_2 div.col_1 .textRow .duracionCol .duracion .duracionNumero{font-size: 2.5em; line-height: 1em; margin: 0 auto; width: 80%; text-align: center; }
div#main div#content div.row_2 div.col_1 .textRow .duracionCol .duracion .duracionDias{font-size: 1.3em; margin: 0 auto; width: 80%; text-align: center;}
div#main div#content div.row_2 div.col_1 .textRow .textCol{}
div#main div#content div.row_2 div.col_1 .textRow .textCol .texto{margin:10px 0;}

div#main div#content div.row_2 div.col_2{width:25%;}