

/*content*/
#content .row_1 {width:100%}
#content .row_1 {padding-bottom:16px}
#content .row_1 .col_1{width:40%;}
#content .row_1 .col_2{width:39%;}
#content .row_2 {width:100%}
#content .row_2 .col_1{width:50%;}
#content .row_2 .col_2{width:49%;}
